@charset "utf-8";

.user-edit {
  width: 40%;
  margin: 0 auto;

  .title {
    font-size: 300%;
  }
  label {
    font-size: 200%;
  }
  input {
    width: 100%;
    font-size: 200%;
    margin: 10px auto;
  }
  .input-label {
    width: 100%;
    font-size: 200%;
    margin: 10px auto;
    border: solid;
    .input-img {
      display: none;
    }
  }
  .user-icon {
    font-size: 40%;
  }
  .click-element {
    display: flex;
    .update-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 200px;
      font-size: 150%;
      padding: 10px;
      border-radius: 5px;
      margin-left: auto;
    }
    .login-link {
      font-size: 150%;
      margin-top: 10px;
    }
  }

  .error-message {
    color: #ff3333;
  }
  .success-message {
    color: #00da0b;
  }
}
@media screen and (max-width: 1100px) {
  .user-edit {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .user-edit {
    width: 90%;
    font-size: 100%;
    .update-button {
      width: 50%;
    }
  }
}
