.review-books {
  width: 80%;
  margin: 0 auto;
  .page-title {
    font-size: 300%;
  }
  .error-message {
    color: #ff3333;
  }
  .new-link{
    text-align: right;
  }
  .book-list {
    .book-list-item {
      font-size: 200%;
    }
  }
}
